
table{
	width:50%;
	align:center;
	border: 1px solid LightSeaGreen;
	border-collapse: collapse;
	margin: 10px;
}
th{
	background-color: LightSkyBlue ;
	border: 1px solid LightSeaGreen;
}
td, tr{
	border: 1px solid LightSeaGreen;
	border-collapse: collapse;
}
#td_num{
	text-align:center;
}
#td_content{
	 height: 150px;
}